.button-1 {
    align-items: flex-start;
    display: flex;
    height: 68px;
    left: 57px;
    min-width: 182px;
    position: absolute;
    top: 336px;
  }
  .button.button-1 {
    left: 171px;
    top: 439px;
  }
  .join {
    height: 47px;
    letter-spacing: 0;
    min-height: 47px;
    min-width: 92px;
    mix-blend-mode: normal;
    text-align: center;
  }
  .button-1 .overlap-group2-3 {
    align-items: flex-end;
    background-color: var(--white) ;
    border-radius: 20px;
    box-shadow: 0px 4px 20px #00000040;
    display: flex;
    height: 68px;
    min-width: 180px;
    padding: 9px 43px;
    cursor: pointer;
  }

  .button.button-1 .overlap-group2-3 {
    align-items: flex-end;
    background-color: #90D3FF;
    border-radius: 20px;
    box-shadow: 0px 4px 20px #00000040;
    display: flex;
    height: 68px;
    min-width: 180px;
    padding: 9px 43px;
    cursor: pointer;
  }
  