:root {
  --black: #000000;
  --dodger-blue: #1ea0f8e0;
  --sail: #addbfa66;
  --white: #ffffff;

  --font-size-l: 35px;
  --font-size-m: 30px;
  --font-size-s: 28px;
  --font-size-xl: 36px;
  --font-size-xs: 23px;
  --font-size-xxl: 40px;
  --font-size-xxs: 20px;
  --font-size-xxxl: 45px;

  --font-family-roboto: "Roboto", Helvetica;
  --font-family-rubik: "Rubik", Helvetica;
}
.roboto-normal-white-23px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.roboto-medium-black-40px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}
.rubik-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.roboto-medium-black-30px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}
.roboto-medium-white-28px {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}
.roboto-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.border-2px-dodger-blue {
  border: 2px solid var(--dodger-blue);
}
