
.container-center-horizontal .header-landing-pg-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 671px;
  position: relative;
  width:1262px;
}

.accessibility {
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0;
  margin-top: 45px;
  min-height: 47px;
  width: 1260px;
  mix-blend-mode: normal;
}

.arrow-circle-down-solid-1 {
  align-items: center;
  background-color: #fafafa;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-left: 6.44px;
  margin-top: 9px;
  min-width: 50px;
  mix-blend-mode: normal;
  overflow-x: scroll;
  padding: 0 0.7px;
}
.arrow-circle-down-solid-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.career {
  align-items: flex-start;
  display: flex;
  height: 71px;
  left: 341px;
  min-width: 286px;
  position: absolute;
  top: 783px;
}

.career-readiness {
  height: 37px;
  left: 16px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 238px;
}
.certification {
  height: 47px;
  left: 255px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 325px;
}
.copyright-regular-1 {
  background-color: #0b0c0c36;
  background-size: 100% 100%;
  height: 17px;
  left: 907px;
  mix-blend-mode: normal;
  position: absolute;
  top: 514px;
  width: 17px;
}
.courses {
  height: 47px;
  left: 408px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 388px;
}

.enhance {
  align-items: flex-end;
  display: flex;
  height: 71px;
  left: 651px;
  min-width: 402px;
  position: absolute;
  top: 782px;
}

.flex-row {
  align-items:center;
  justify-content:space-evenly;
  display: flex;
  height: 309px;
  margin-top: 75px;
  width: 1262px;
}

.group-business-gn40876-1442-1 {
  height: 629px;
  left: 0;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 1262px;
}
.image-1-1 {
  height: 559px;
  left: 450px;
  mix-blend-mode: normal;
  position: absolute;
  top: 65px;
  width: 782px;
}
.image-c-1 {
  height: 300px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 300px;
}

.landing-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 4375px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  width: 1262px;
}
.landing-pg-1 {
  align-items: flex-end;
  display: flex;
  height: 616px;
  min-width: 1262px;
}
.landing-pg-3 {
  height: 542px;
  margin-left: 3.0px;
  position: relative;
  width: 1262px;
}
.landing-pg-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 3.57px;
  margin-top: 120px;
  min-height: 579px;
  width: 1262px;
}
.langing-pg-2 {
  align-items: flex-start;
  display: flex;
  height: 925px;
  left: 0;
  width: 1262px;
  position: absolute;
  top: 0;
}
.learningmanagem-i695biipuz504-1 {
  height: 542px;
  left: 698px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 559px;
}
.line-10 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 502px;
  width: 1262px;
}

.monitize {
  align-items: flex-start;
  display: flex;
  height: 71px;
  left: 19px;
  min-width: 286px;
  position: absolute;
  top: 784px;
}
.overlap-group {
  height: 925px;
  margin-left: 4.0px;
  margin-top: 12px;
  position: relative;
  width: 1084px;
}
.overlap-group-1 {
  border-radius: 10px;
  height: 71px;
  position: relative;
  width: 284px;
}
.overlap-group1 {
  height: 695px;
  margin-right: 2.0px;
  margin-top: 19px;
  position: relative;
  width: 1262px;
}
.overlap-group2 {
  height: 542px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1262px;
}
.overlap-group2-1 {
  height: 925px;
  position: relative;
  width: 1262px;
}
.overlap-group3 {
  height: 71px;
  margin-bottom: 0;
  position: relative;
  width: 402px;
}
.overlap-group6 {
  height: 624px;
  margin-bottom: -8px;
  position: relative;
  width: 1260px;
}
.overlap-group7 {
  height: 552px;
  width: 1262px;
}

.rectangle-1 {
  background-color: var(--sail);
  border-radius: 10px;
  height: 71px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 284px;
}
.rectangle-10 {
  background-color: var(--sail);
  border-radius: 10px;
  height: 71px;
  left: 100px;
  mix-blend-mode: normal;
  position: absolute;
  top: 29px;
  width: 910px;
}
.rectangle-11 {
  background-color: var(--sail);
  border-radius: 10px;
  height: 71px;
  left: 300px;
  mix-blend-mode: normal;
  position: absolute;
  top: 113px;
  width: 516px;
}
.rectangle-14 {
  background-color: var(--sail);
  border-radius: 10px;
  height: 71px;
  left: 4px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 391px;
}
.rectangle-15 {
  background-color: #0b0b0bc4;
  height: 552px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
  width: 1262px;
}

.specialisation {
  height: 47px;
  left: 484px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 450px;
}

.text-1 {
  height: 139px;
  left: 0;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 226px;
  width: 525px;
}
.text-10 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  height: 82px;
  letter-spacing: 0;
  min-height: 82px;
  min-width: 1262px;
  mix-blend-mode: normal;
  text-align: center;
  width: 1262px;
}
.text-11 {
  align-self: center;
  color: var(--black);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxl);
  height: 104px;
  letter-spacing: 0;
  margin-right: 12.43px;
  margin-top: 9px;
  min-height: 104px;
  min-width: 816px;
  mix-blend-mode: normal;
  text-align: center;
  width: 816px;
}
.text-12 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  height: 23px;
  left: 929px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 511px;
}
.text-2 {
  height: 47px;
  left: 25px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 125px;
  width: 471px;
}
.text-3 {
  height: 63px;
  left: 0;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 402px;
}
.text-4 {
  height: 37px;
  left: 15px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 262px;
}
.text-5 {
  color: #0b0b0b;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  height: 43px;
  left: 135px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 43px;
  width: 841px;
}
.text-6 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 500;
  height:72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-7 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 21px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 89px;
  width: 251px;
}
.text-8 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxs);
  left: 21px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 186px;
  width: 380px;
}
.text-9 {
  height: 70px;
  position: absolute;
  text-align: center;
  left:435px;
  margin-left: auto;
  width: 386px;
}

.unnamed-1 {
  align-self: center;
  height: 260px;
  margin-bottom: 21.0px;
  margin-left: 88px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 260px;
}
.vector {
  height: 50px;
  left: 545px;
  mix-blend-mode: normal;
  position: absolute;
  top: 320px;
  width: 50px;
}
.vector-1 {
  height: 31px;
  mix-blend-mode: normal;
  width: 35px;
}
.vector-2 {
  height: 49px;
  mix-blend-mode: normal;
  width: 49px;
}
.vector-3 {
  height: 50px;
  left: 589px;
  mix-blend-mode: normal;
  position: absolute;
  top: 384px;
  width: 50px;
}
.vector-4 {
  height: 50px;
  left: 801px;
  mix-blend-mode: normal;
  position: absolute;
  top: 447px;
  width: 50px;
}
.x6663-1 {
  height: 500px;
  left: -90px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 240px;
  width: 1260px;
}
.x819px-universityhaticon-1 {
  align-self: flex-end;
  height: 300px;
  margin-left: 46px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 322px;
}

.footer {
  display: flex;
  align-items:center;
  justify-content:center;
  margin-top: 108px;
  max-width: 1262px;
  position: relative
}
.footer0{
  display:flex;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--white);
}
.heading-f1 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  height: 53px;
  left: 68px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 53px;
}
.f1 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size:23px;
  top: 142px;
  left: 100px;
  position: absolute;
  text-align: left;
}
.f1 li{
  padding-bottom:20px;
  padding-left: 20px;
}
.f1 .manageCookies{
  margin-left: -52px;
}
.heading-f2 {
  height: 33px;
  left: 511px;
  position: absolute;
  text-align: center;
  top: 63px;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}
.f2 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size:23px;
  top: 115px;
  left: 511px;
  position: absolute;
  text-align: left;
}
.f2 li{
  padding-bottom: 15px;
}
.heading-f3 {
  height: 33px;
  left: 686px;
  position: absolute;
  text-align: center;
  top: 63px;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}
.f3 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size:23px;
  top: 115px;
  left: 690px;
  position: absolute;
  text-align: left;
}
.f3 li{
  padding-bottom: 15px;
}
.heading-f4 {
  height: 33px;
  left: 980px;
  position: absolute;
  text-align: center;
  top: 63px;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
}
.f4 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size:23px;
  top: 115px;
  left: 980px;
  position: absolute;
  text-align: left;
}
.f4 li{
  padding-bottom: 15px;
}
.linkedin-brands-1 {
  align-items: center;
  display: flex;
  height: 35px;
  left: 68px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 223px;
  width: 35px;
}

.facebook-square-brands-1 {
  align-items: center;
  display: flex;
  height: 35px;
  left: 68px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 178px;
  width: 35px;
}

.instagram-brands-1 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 67px;
  mix-blend-mode: normal;
  overflow: hidden;
  padding: 2.0px 0;
  position: absolute;
  top: 133px;
  width: 35px;
}